CompileFlags:
  CompilationDatabase: .
  Add:
    - -g
    - -O0
    - -I.
    - -Wall
    - -Wextra
    - -Wno-unused-variable
    - -Wno-unused-function
    - -Wno-undefined-internal
    - -Wno-implicit-function-declaration
    - -lm

  Remove:
    - -O*
    - -Ofast
Diagnostics:
  Suppress:
    - pp_file_not_found
    - unused-command-line-argument
    - unknown-warning-option
Index:
  Background: Build
